#controls {
  margin: 0.5em 0;

  button {
    padding: 0.25em 1em;
    height: 2.5em;
    background: #94c41a;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    color: #fff;
    cursor: pointer;
  }
}
